//Fonts
$main-font: 'Major Mono Display', monospace;

//Colors
$primary: #6A7EAA;
$white: #FFFFFF;
$white-dark: #E5E5E5;
$black: #000000;
$orange-html: #DA4817;
$blue-css3: #146CAD;
$yellow-js: #EAD41C;
$purple-php: #334179;
$blue-mysql: #134A5C;
$purple-csharp: #631F74;
$blue-vscode: #0070B5;
$purple-sass: #C26191;
$red-gulp: #CF4244;

//Media-size
$phone: 320px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
